[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python app.py"
test = "pytest"
test-list = "pytest -s -v"
lint = "pylint --rcfile=.pylintrc src/"
lint-report = "pylint --rcfile=.pylintrc --report=y src/"

[packages]
sqlalchemy = "*"
pytest = "*"
pre-commit = "*"
pylint = "*"
flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
